{% extends 'base.html.twig' %}

{% block title %}Modifier un voyage{% endblock %}

{% block body %}
    <div>
        <h1>Modifier le voyage {{ travel.title }}</h1>
    </div>
    <div>
        {{ form(form) }}
        <a href="{{ path('app_travel_list') }}"><button>Annuler</button></a>
    </div>
{% endblock %}
