{% extends 'base.html.twig' %}

{% block title %}Nouveau voyage{% endblock %}

{% block body %}
    <div>
        <h1>Nouveau voyage</h1>
    </div>
    <div>
        {{ form(form) }}
        <a href="{{ path('app_travel_list') }}"><button>Annuler</button></a>
    </div>
{% endblock %}